/target
GOALS.md
PROJECT_PLAN.md
TESTING.md
bench.fa
bench_wide.fa
bench_wide_nofai.fa
bench_reads.fa
bench_reads_nofai.fa
*.fa.gz
test.fa
testb.db
.DS_Store
bench.fastq
*.fastq
!tests/fixtures/*.fa
!tests/fixtures/*.fastq
*.fai

all_sequences.fasta

bench_real.fa

genomes.fasta
